<ion-header>

    <ion-navbar>
        <ion-title>Contact us</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="color_white" padding>

    <h3 class="app_h3"><strong>Contact Us</strong></h3>

    <p class="app_p">
        Phone:
        <a href="tel:1300 002 770">1300 002 770</a>
    </p>

    <p class="app_p">
        or click
        <a href="https://auspropertypanel.com.au/contact-us/">this link</a>&nbsp;
        to complete your enquiry.
    </p>


</ion-content>
