<ion-header>

    <ion-navbar>
        <ion-title>Tax Calculator</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="color_white" padding>

    <h3 class="app_h3">
        <strong>
            Tax Calculator
        </strong>
    </h3>


    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input
                        type="number"
                        [(ngModel)]="emp_income"
                        name="emp_income"
                        placeholder="Employment income"
                        min="0"
                    ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [(ngModel)]="emp_income_type">
                        <ion-option value="annually">Annually</ion-option>
                        <ion-option value="monthly">Monthly</ion-option>
                        <ion-option value="fortnightly">Fortnightly</ion-option>
                        <ion-option value="weekly">Weekly</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input
                        type="number"
                        [(ngModel)]="emp_extra_income"
                        name="emp_extra_income"
                        placeholder="Other taxable income"
                        min="0"
                    ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [(ngModel)]="emp_extra_income_type">
                        <ion-option value="annually">Annually</ion-option>
                        <ion-option value="monthly">Monthly</ion-option>
                        <ion-option value="fortnightly">Fortnightly</ion-option>
                        <ion-option value="weekly">Weekly</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <p>
                    <strong>
                        Financial year:
                    </strong>
                </p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [(ngModel)]="financial_year">
                        <ion-option value="2018_2019">2018-2019</ion-option>
                        <ion-option value="2017_2018">2017-2018</ion-option>
                        <ion-option value="2016_2017">2016-2017</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>



        <ion-row>
            <ion-col class="center">
                <button (click)="calc_res()" ion-button color="light" round>Result</button>
            </ion-col>
        </ion-row>
    </ion-grid>








</ion-content>
