page-calc {

    .text-input{
        text-align: center;
        color: #FFF;
    }

    .select{
        max-width: 100%;
        width: 100%;
        text-align: center;
        color: #FFF;
    }

    .center{
        text-align: center;
    }
}
