

page-login {

    div.ext-box {
        display: table;
        width:100%;
        height: 100%;
    }

    div.int-box {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .app_link{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        display: inline-block;

        ion-icon{
            font-size: 120px;
        }

        img{
            height: 100px;
            width: 100px;
        }


    }

}
