<ion-header>

    <ion-navbar>
        <ion-title>Links</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="ext-box">
        <div class="int-box">

            <div class="widthFull">

                <a href="https://auspropertypanel.com.au/property-investing-guide-sit-on-it/" class="app_link color_white">
                    <img src="assets/imgs/another_link.jpeg" alt=""> <br>
                    A guide to building a property portfolio
                </a>
            </div>

            <a href="https://www.facebook.com/AustralianPropertyPanel/" class="app_link">
                <img src="assets/imgs/fb.png" alt="">
            </a>

            <a href="https://www.facebook.com/womenspropertypanel/" class="app_link">
                <img src="assets/imgs/fb_pink.png" alt="">
            </a>

            <a href="https://auspropertypanel.com.au/" class="app_link">
                <img src="assets/imgs/logo.png" alt="">
            </a>

            <a href="https://www.moneysmart.gov.au/tools-and-resources/calculators-and-apps/income-tax-calculator" class="app_link">
                <img src="assets/imgs/government.png" alt="">
            </a>

        </div>
    </div>


</ion-content>
