/*
  Site Name: RestuarantApp
  URI: http:
  Description: This is the theme css for RestuarantApp
  Version: 0.1
  Author: Amal-Techware Solution
  Author URI:
  Tags:

	---------------------------
	THEME STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	 01. FONTS-N-SIZES
	 02. FONTS-COLOR
	 03. THEMES-N-BACKGROUNDS
	 04. SPACING-N-POSITIONS
	 05. ALIGMENTS
	 06. ALERTS-N-MESSAGES
	 07. BODY-STRUCTURE
	 08. OVERWRITTEN


*/
/*-------------------------------

01. FONTS-N-SIZES

--------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

.no-scroll .scroll-content {
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

/*-------------------------------

02. FONTS-SETTINGS

--------------------------------*/

.text_color_white {
    color: #fff !important;
}

.text_color_theme {
    color: #759f32 !important;
}

.font_size_xs {
    font-size: 12px !important;
}

.font_size_sm {
    font-size: 14px !important;
}

.font_size_md {
    font-size: 16px !important;
}

.font_size_lg {
    font-size: 18px !important;
}

.font_size_xl {
    font-size: 20px !important;
}

.font_size_vl {
    font-size: 35px !important;
}

.font_weight300 {
    font-weight: 300 !important;
}

.font_weight400 {
    font-weight: 400 !important;
}

.font_weight500 {
    font-weight: 500 !important;
}

.font_weight600 {
    font-weight: 600 !important;
}

/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

.theme_background {
    background-color: #759f32 !important;
    border: 1px solid #759f32;
}

.theme_transparent {
    background: transparent !important;
}

.theme_white {
    background-color: #f7f8fd !important;
}

.theme_off_white {
    background-color: #f4f4f4 !important;
}

.theme_dark_transparent {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.theme_white_transparent {
    background-color: rgba(243, 243, 243, 0.6) !important;
}

.login_background {
    background: url("../assets/imgs/background.png") !important;
    background-position: center !important;
    background-size: cover !important;
}

/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25 {
    width: 25% !important;
}

.width50 {
    width: 50% !important;
}

.width75 {
    width: 75% !important;
}

.widthFull {
    width: 100% !important;
}

.widthAuto {
    width: auto !important;
}

.height25 {
    height: 25% !important;
}

.height50 {
    height: 50% !important;
}

.height75 {
    width: 75% !important;
}

.heightFull {
    height: 100% !important;
}

.heightAuto {
    height: auto !important;
}

.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.p10 {
    padding: 10px !important;
}

.m0 {
    margin: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mAuto {
    margin: 0 auto !important;
}

.clear {
    clear: both !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

/*-------------------------------

06. ALERTS-N-MESSAGES

--------------------------------*/

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-weight: 600;
    transition: all 0.5s ease;
    position: fixed;
    border-bottom: 0px;
    left: 0px;
    right: 0px;
}

.warning {
    color: #fff;
    background-color: #8a6d3b;
}

.success {
    color: #fff;
    background-color: #3c763d;
}

.error {
    color: #fff;
    background-color: #a94442;
}

/*-------------------------------

07. BODY-STRUCTURE

--------------------------------*/

.nav_header {
    width: 100%;
    z-index: 999;
}

.nav_btn {
    width: 45px !important;
    height: 45px !important;
    background: transparent;
    margin: 0px;
    font-size: 25px;
    color: #fff;
    padding: 0px !important;
    box-shadow: none !important;
}

.nav_header_title {
    //width: 200px;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 12px;
    font-weight: 400;
    text-transform: capitalize;
    //width:calc(100% - 90px);
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.nav_header_title .icon {
}

.clear {
    clear: both !important;
}

.border {
    border: 1px solid;
}

.borderNone {
    border: none !important;
}

/*-------------------------------

08. OVERWRITTEN

--------------------------------*/

.activated {
    background: transparent !important;
}

button {
    box-shadow: none !important;
}

.item {
    background: transparent !important;
    padding: 0px !important;
    border: none !important;
    .item-inner {
        padding: 0px !important;

        .input {
            height: 100%;
            .text-input {
                padding: 0px !important;
                margin: 0px !important;
                width: 100%;
            }
        }
    }
}

.button-md:hover:not(.disable-hover) {
    //background: transparent !important;
}

.alert-md .alert-title,
.alert-md .alert-sub-title {
    direction: rtl;
}

.cursor_pointer {
    cursor: pointer;
}

.tab-button-text {
    display: block !important;
}

.rgba_bg {
    background: rgba(0, 0, 0, .6);
}

.en_direction {
    direction: ltr;
}

.ar_direction {
    direction: rtl;
}

.back_btn{
    background: rgba(0,0,0,.7);
    width: 35px;
    height: 35px;
    border: 5px;
    color: #FFF;
}

.content-ios,
.content-md
{
    background-color: #004c93;
}

.color_white{
    color: #CCC;
}

.app_h3{
    color: #FFF;
    border-bottom: 1px solid #CCC;
    padding-bottom:5px;
}

.app_p{
    margin-left:1.25rem;
}
