<ion-header>

    <ion-navbar>
        <ion-title>Faqs</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="color_white" padding>

    <h3><strong>Why Choose Property?</strong></h3>

    <p>
        There are many good reasons to go into property as an investment, including capital growth, rental income, tax
        benefits and control; it&rsquo;s tangible, easy to sell, lower volatility than other investments, there&rsquo;s
        high demand and last but not least, the government encourages you to invest in property!
    </p>

    <h3><strong>What is OPM?</strong></h3>

    <p>We refer to Other People&rsquo;s Money (OPM), as it is integral to our system. We use the bank&rsquo;s money
        (OPM) to purchase property with a focus on capital growth and use that growth to purchase further properties.
        Hence enjoying compound capital growth, the most powerful force in the universe.
    </p>

    <h3><strong>What makes us different?</strong></h3>

    <ul>
        <li>We don&rsquo;t sell developments&mdash;we do however have access to properties that fit our&nbsp;very strict
            selection criteria.
        </li>
        <li>We don&rsquo;t have financial ownership of the associated professionals you need to purchase your property&mdash;we
            still save you time and money by sourcing experts for you, however these are independent advisors who act
            solely in your interest.
        </li>
    </ul>

    <h3><strong>What is our selection criteria for choosing your property?</strong></h3>

    <p>We make sure all of our recommended properties cover the following basic criteria. We stick it because it has
        worked for us; so why shouldn&rsquo;t it work for you?
    </p>

    <ul>
        <li>Close to Public Transport</li>
        <li>Close to Schools</li>
        <li>Close to Shopping Centres</li>
        <li>Provides quality Lifestyle</li>
        <li>Is in a Job Catchment Area</li>
    </ul>

    <h3><strong>Do I have to be rich to invest in property?</strong></h3>

    <p>You don&rsquo;t have to be rich to start. Many property investors have an annual income of less than $70,000.</p>

    <h3><strong>Why does the government encourage property investment in Australia?</strong></h3>

    <p>People who buy property investments are helping the economy and the community by providing much needed housing.
        There is a housing shortage in Australia, which will become worse with current immigration rates at record
        levels. There is also a shortage of rental properties. The Government cannot afford to provide all the housing
        that is required. Property investors provide an essential service by providing supplementary housing
        accommodation. The Government encourages property investment by providing tax deductions for investing in
        property that are not available to buyers of their own home.
    </p>

    <p>The Government also knows that you can make money for your future financial security through property investment
        in Australia and that relying only on your superannuation can be a risk. With more people independent
        financially there will be less reliance on Government financial support. Let&rsquo;s face it, the pension isn&rsquo;t
        much.
    </p>

    <h3><strong>What is negative gearing?</strong></h3>

    <p>Investment expenditure exceeds income with the difference being written off against earnings thereby providing a
        tax benefit.
    </p>

    <h3><strong>What is positive gearing?</strong></h3>

    <p>
        Investment income exceeds expenditure with a positive cash flow inwards. All of the investment expenditure is
        still tax deductible.
    </p>

    <h3><strong>What is depreciation?</strong></h3>

    <p>
        Depreciation is the decline in value of an asset over a period of time and can be applied to all types of assets
        including investment property.
    </p>

    <h3><strong>How do I choose a good accountant who can assist in managing my investment portfolio?</strong></h3>

    <p>
        I suggest you ask the accountant how many investment properties they hold and if they understand the current ATO
        rulings on the tax depreciation schedule. We regularly work with a number of independent accountants who we
        trust. Let us know if you would like a referral to a good accountant.
    </p>

    <h3><strong>What is a tax depreciation schedule? (see Quantity Surveyors report)</strong></h3>

    <p>
        To claim maximum depreciation on the assets of your investment property, you will need a Tax Depreciation
        Schedule. Again, talk to your accountant or ask us to introduce you to an independent advisor.
    </p>

    <h3><strong>Why is understanding depreciation important when buying investment property?</strong></h3>

    <p>There are two types of rental property costs to depreciate.</p>

    <ol>
        <li>The first concerns depreciation for wear and tear of fixtures and fittings that were included in the
            property purchase or that you later purchased for your property.
        </li>
        <li>The second relates to capital works deductions, which are applied to the cost of the construction of the
            building depreciated at the rate of 2.5 percent per&nbsp;year.
        </li>
    </ol>

    <p>
        As a general rule, depreciation claims on fixtures and fittings are of most value in the first five years of
        property ownership, while capital works deductions remain constant for the 40-year period.
    </p>

    <h3><strong>Why are owner-occupiers important when buying an investment property?</strong></h3>

    <p>A high percentage of owner-occupiers creates a secure investment area.</p>

    <p>
        You need to have at least 70% owner-occupiers in the suburb you pick. Owner-occupiers will recapitalise in their
        property thus improving the value of yours. Also when interest rates are high, some investors opt to sell
        because of the holding costs of some investments. This can create high supply and low demand resulting in a
        potential property price fall. Owners are different. When rates are high and costs are affecting them daily,
        they just tighten the family budget and reduce holidays, etc. They don&rsquo;t sell. This keeps prices stable in
        an area. Be aware that the big property investment companies can flood a potentially good area with investors.
        Do your homework.
    </p>

    <h3><strong>Is it important to establish a local benchmark when buying an investment property?</strong></h3>

    <p>
        Yes. Preferably you want others in your area paying much more for a property than you did. Let them have the big
        blocks of land with the big houses. This has a great effect on your land value. This also happens with a high
        percentage of owners in your location.
    </p>

    <h3><strong>Is the median age of the population in the area important when buying an investment property?</strong>
    </h3>

    <p>Yes. People of median age are the greatest earners in Australia and the greatest spenders, simply because there
        are more of them. They are the types to contribute more to an area. Sorry to state that students and the
        majority of pensioners are not high income earners and generally don&rsquo;t recapitalise in their property. Did
        you know that statistics indicate that out of 100 people at age 65, less than six are financially secure?</p>

    <h3><strong>What is the ideal average number of people per household when buying an investment property?</strong>
    </h3>

    <p>Just under three, that&rsquo;s what you need as an average in your chosen area. We suggest not choosing areas
        where there are lots of singles or students or older folk.</p>

    <h3><strong>Should I look for areas still being developed when buying an investment property?</strong></h3>

    <p>If an area is built out then there is little chance of exponential growth. I particularly like to purchase in
        stage one of a new development because I know further stages are likely to be more expensive.</p>

    <h3><strong>How do I work out the average rent for the area I am looking to invest in?</strong></h3>

    <p>If the lending institutions say that 30% of an income can go towards a mortgage then 30% of an income can go
        towards the rent.</p>

    <p>Understand the average income in an area and you can determine what rent can be achieved. This is important as it
        effects how much you contribute to your investment payments.</p>

    <h3><strong>What does the property cycle mean when I am investing in property?</strong></h3>

    <p>If the local property prices are at an all-time high then you may have some time to wait for the capital growth
        you require.</p>

    <p>Apart from the cyclic nature of property and therefore geographic location, there are several other factors
        important to identifying areas where there will be significant capital growth. Understanding population growth
        and migration patterns for example are key. Other market forces to consider are supply versus demand for
        housing, the changing demographic profile, economic activity, affordability, property type and more.</p>

    <h3><strong>How much should I plan to spend on the land when buying an investment property?</strong></h3>

    <p>Make sure that at least 40% of your capital expenditure is paying for the land content of the purchase. It&rsquo;s
        the land that will appreciate.</p>

    <h3><strong>What does the rental vacancy rate tell me about the area I am looking to invest in?</strong></h3>

    <p>Identify the vacancy rate of an area and stay below the national average for that type of property. You can find
        out figures from the Australian Bureau of Statistics, the local council and state websites. If the local agent
        has 100 rental properties on his rental list and have 10 empty you could guess that the vacancy rate in that
        area was 10% which is way too high for investment. Call a few.</p>

    <h3><strong>Should I choose a cheaper property or a quality property for investment?</strong></h3>

    <p>Choose affordable. Keep within the median price range for brand new (turnkey) property prices for the area. You
        will always find a cheaper property but that defeats the purpose of a quality investment.</p>

    <h3><strong>Why borrow 110% to buy an investment property?</strong></h3>

    <p>With an investment loan of 110% (interest only) you maximise the tax deductibility of your investment property.
        This way you keep the overall debt in the right place; against the investment. Even though the deposit is coming
        from your owner-occupied property, it is being used for investment and therefore tax deductible. Note that not
        all costs are tax deductible, (i.e. stamp duties).</p>

    <p>Whilst you retain title to the property at all times, whether you ever get to own the property outright is
        irrelevant. What is important is how fast your equity increases over time. Eventually the debt will be
        insignificant compared to the value of the property. Reducing the principal loan reduces the claimable interest.
        Then you&rsquo;ll start paying income tax on the rent at your highest marginal rate.</p>

    <h3><strong>Should I pay out my investment property?</strong></h3>

    <p>When your equity increases use that as a deposit to buy another investment property. The only loans you should
        pay out while you are building wealth, are those that are not tax deductible&mdash;such as the loan on your own
        home, car or credit cards.</p>

    <h3><strong>What should I tell my finance broker when buying an investment property?</strong></h3>

    <p>If you use a broker tell them you intend to purchase the land before constructing your investment property.
        Typically, they will help you apply for finance for the land purchase and then apply for construction. This way
        you are borrowing the interest during the construction phase.</p>

    <p>Building or construction loans generally operate as an interest-only facility with a variable interest rate
        during the construction period. You only pay interest on the part of the home loan that has been drawn down, or
        paid out. Do it with a broker and borrow all upfront costs. This way you don&rsquo;t pay anything out of your
        own pocket until the tenants move in.</p>

    <h3><strong>Should I choose a new property or an existing property for investment?</strong></h3>

    <p>You will get more depreciation from new property. Some other reasons we prefer new properties are: the tax
        benefits, minimal ongoing maintenance, building construction warranty and tenant appeal. The better the
        property, the better the tenant!</p>

    <h3><strong>What are the construction processes for new homes?</strong></h3>

    <p>New homes are built in five stages, with payment on each stage due after the builder completes it. Therefore the
        bank will draw down your loan in five stages. These stages are:</p>

    <ul>
        <li>base/slab</li>
        <li>frame</li>
        <li>lock-up</li>
        <li>fixing</li>
        <li>practical completion</li>
    </ul>

    <h3><strong>What is the minimum rent I should look for when investing in property?</strong></h3>

    <p>Initially you require a 5% return on your new property investment. We would all love great capital growth and
        great rental yield but I can suffer a 5% return for greater growth.</p>

    <h3><strong>What is a Quantity Surveyors Report?</strong></h3>

    <p>This is your Tax Depreciation Schedule. A Quantity Surveyor must always undertake a site inspection. When you
        have an investment property you need a Depreciation Schedule in order to maximise your investment and pay less
        tax. When claiming depreciation on the building and fittings, the ATO insists that you have a Depreciation
        Schedule prepared by a licensed Quantity Surveyor. It is wise to use a Quantity Surveyor that is based in the
        state where your property is located. Let us know if you would like us to help you find an independent quantity
        surveyor near you.</p>

    <h3><strong>What does the &lsquo;Subject to Finance&rsquo; clause in the contract mean?</strong></h3>

    <p>All reputable land developers and builders will insert a finance clause in the contract they prepare for you.</p>

    <p>A finance clause serves a number of purposes: it takes your land/investment property &ldquo;off the market&rsquo;&rsquo;
        and it gives you time to secure formal finance approval. The process will take less time if you have already
        organised a formal pre-approval and, if for some unforeseen reason the lender declines your application at the
        last minute, the finance clause allows you to walk away from the contract legitimately and without adverse
        consequences.</p>

    <h3><strong>Do I need Landlord Protection Insurance?</strong></h3>

    <p>Think about it. You have taken out comprehensive home insurance for your own home because you realise that, as
        careful and responsible as you may be, accidents resulting in expensive damage can happen around your own home.
        And fire, storm and burglary can happen to anyone.</p>

    <p>Why would you assume it would be different for your rental property? No matter how responsible the tenants might
        be. Insurance taken out to cover a tenanted residential investment property may be claimed as a tax deduction.
        Refer to your accountant&nbsp;for further information.</p>

    <p>I highly recommend that every landlord take out insurance. Not only to cover the building, it&rsquo;s a policy
        specifically designed for landlords.</p>

    <p>This will cover not just internal fixtures and fittings but loss of rent, malicious damage and even tax
        audits.</p>

    <h3><strong>When selecting a tenant, do I allow them to have pets?</strong></h3>

    <p>Yes. The reason being is that you can put up the rent accordingly. Also it can mean the tenant stays longer. Many
        other investors don&rsquo;t allow pets so your tenant has limited places to go with their pets.</p>

    <h3><strong>Should I let my tenants install Foxtel or other pay TV/ internet services?</strong></h3>

    <p>Yes. If a tenant installs Foxtel, they have to get permission to have it on your land. Sometimes there is a
        contract or additional costs involved. This commitment indicates the tenant isn&rsquo;t moving for a while and
        you can increase the rent.</p>

    <h3><strong>What should I look for when selecting a Property Manager?</strong></h3>

    <p>I prefer property managers who specialise in property&nbsp;management and do not also sell property. We can
        recommend some great property managers in your state who work independently with us to achieve a great outcome
        for your investment. Contact us for information.</p>

    <h3><strong>What to look for when buying an investment property?</strong></h3>

    <p>The property has to have access to all the facilities that a family requires. Your tenant may not have the same
        interests as you so always try to look at the property from their point of view.</p>

    <h3><strong>What are the costs involved in buying investment property?</strong></h3>

    <ul>
        <li>Deposit</li>
        <li>Mortgage Application Fee</li>
        <li>Stamp Duty</li>
        <li>Registration Fees</li>
        <li>Loan Mortgage Insurance</li>
        <li>Conveyancing</li>
    </ul>

    <p>Use one of our handy calculators to work out the costs for your investment property or download the worksheet
        from our&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://auspropertypanel.com.au/property-investing-guide-sit-on-it/&amp;source=gmail&amp;ust=1548092597141000&amp;usg=AFQjCNFlxQy4umY8uZBdvty7tCGuG6LBew"
            href="https://auspropertypanel.com.au/property-investing-guide-sit-on-it/" rel="noreferrer" target="_blank">&ldquo;Sit
            on it&rdquo; property guide</a>.</p>

    <h3><strong>How much deposit do I need to buy an investment property?</strong></h3>

    <p>The initial deposit can vary but is usually around 20% of the purchase value.</p>

    <h3><strong>What is a Mortgage Application Fee?</strong></h3>

    <p>This is a fee charged by lending institutions to cover the costs involved in processing a mortgage application.
        Some brokers are even asking for an additional fee to process your mortgage. These fees are always negotiable
        and you will find that just about all lenders will remove them upon request.</p>

    <h3><strong>What is Stamp Duty when buying an investment property?</strong></h3>

    <p>This is the most expensive part and is based on the cost of the property you are purchasing. The rate varies from
        state to state and is paid to the State Revenue Office. You will pay less if you are building a property as
        opposed to buying a completed property, because you only pay stamp duty on the land purchase not the building
        component.</p>

    <h3><strong>What are Registration Fees when buying an investment property?</strong></h3>

    <p>Once again, these are a state based fee and vary from state to state. They are payable to the Land Titles Office
        when you register documents that relate to the purchase of a property.</p>

    <h3><strong>What is Loan Mortgage Insurance?</strong></h3>

    <p>This is payable if you are borrowing more than 80% or using a non-conforming loan.</p>

    <h3><strong>What are general costs for conveyancing?</strong></h3>

    <p>Conveyancing costs will differ depending on whether you use a solicitor or a conveyancer. A solicitor will cost
        more, sometimes up to and over $2000 all up, including disbursements.</p>

    <h3><strong>Should I choose a solicitor or conveyancer when buying a property?</strong></h3>

    <p>If you choose a Solicitor you will have better protection in most instances if something goes wrong as they&nbsp;have
        the backing of the better qualifications and insurances. A conveyancer will generally be cheaper, and most of
        the time things do not go wrong. But be aware that quoted prices don&rsquo;t cover disbursements and you may
        need to consult a solicitor anyway if something does go wrong or peculiar with the process.</p>

    <p>&nbsp;</p>


</ion-content>
