<ion-content padding  >

    <div class="ext-box">
        <div class="int-box">
            <img src="assets/imgs/logo.png" class="logo_img" alt="">

            <ion-grid>

                <ion-row>
                    <ion-col>
                        <p class="color_white" (click)="calc()">
                            <ion-icon name="calculator"></ion-icon>
                            Calculator
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <p class="color_white" (click)="go_to_login()">
                            <ion-icon name="link"></ion-icon>
                            links
                        </p>
                    </ion-col>
                    <ion-col>
                        <p class="color_white" (click)="about_us()">
                            <ion-icon name="text"></ion-icon>
                            About Us
                        </p>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col>
                        <p class="color_white" (click)="faqs()">
                            <ion-icon name="flag"></ion-icon>
                            FAQs
                        </p>
                    </ion-col>
                    <ion-col>
                        <p class="color_white" (click)="contact_us()">
                            <ion-icon name="call"></ion-icon>
                            Contact Us
                        </p>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </div>
    </div>

</ion-content>
