page-startup {

    .logo_img{
        width: 150px;
    }

    div.ext-box {
        display: table;
        width:100%;
        height: 100%;
    }

    div.int-box {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    p{
        ion-icon{
            width: 100%;
            text-align: center;
            font-size: 30px;
        }
    }




}
