<ion-header>
    <ion-navbar>
        <ion-title>Calculator Result</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="color_white" padding>

    <h3 class="app_h3">
        <strong>
            SUMMARY
        </strong>
    </h3>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-select [(ngModel)]="show_res_as" (ionChange)="update_values()">
                        <ion-option value="1">Annually</ion-option>
                        <ion-option value="12">Monthly</ion-option>
                        <ion-option value="26">Fortnightly</ion-option>
                        <ion-option value="52">Weekly</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <p>
        <strong>
            Your taxable income:
        </strong>

        <strong class="right big_text">
            {{math_round(annual_salary/show_res_as)|currency:'USD':true:"1.0"}}
        </strong>
    </p>

    <p>
        <strong>
            Income tax payable:
        </strong>

        <strong class="right">
            {{math_round(total_tax/show_res_as)|currency:'USD':true:"1.0"}}
        </strong>
    </p>

    <p>
        <strong>
            Medicare levy payable:
        </strong>

        <strong class="right">
            {{math_round(medicare_levy_payable)|currency:'USD':true:"1.0"}}
        </strong>
    </p>

    <div class="white_hr"></div>

    <p class="inline_block">
        <strong class="inline_block width50">
            Your income after tax & Medicare levy:
        </strong>

        <strong class="right big_text">
            {{math_round(
            (annual_salary/show_res_as)-((total_tax/show_res_as)+medicare_levy_payable)
            )|currency:'USD':true:"1.0"}}
        </strong>
    </p>

    <div class="white_hr"></div>

    <p>
        <strong class="big_text">
            Your marginal tax rate:
        </strong>

        <strong class="right big_text">
            {{((total_tax/show_res_as)+(medicare_levy_payable))/(annual_salary/show_res_as)|percent}}
        </strong>
    </p>


    <p>
        <strong class="big_text">
            This means for an annual income of {{math_round(annual_salary)|currency:'USD':true:"1.0"}} you pay:
        </strong>
    </p>


    <div *ngFor="let text of show_text_arr;let i=index">
        <p class="inline_block">
            <strong class="inline_block width50">
                {{text}}
            </strong>

            <strong class="right big_text">{{tax_percent_arr[i]|currency:'USD':true:"1.0"}}</strong>
        </p>
    </div>

    <div class="white_hr"></div>
    <p>
        <strong>
            Income tax payable:
        </strong>

        <strong class="right big_text">
            {{total_tax|currency:'USD':true:"1.0"}}
        </strong>
    </p>



</ion-content>
