page-calc-res {

    .right{
        float: right;
    }

    .big_text{
        color: #FFF;
        font-size: 18px;
    }

    .white_hr{
        background: #FFF;
        height: 2px;
    }

    .inline_block{
        display: inline-block;
        width: 100%;

    }

    .text-input{
        text-align: center;
        color: #FFF;
    }

    .select{
        max-width: 100%;
        width: 100%;
        text-align: center;
        color: #FFF;
    }

    .center{
        text-align: center;
    }

}
