<ion-header>

    <ion-navbar>
        <ion-title>About us</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="color_white" padding>

    <h3 class="app_h3"><strong>About Us</strong></h3>

    <p class="app_p">
        You need a team of property investment specialists&nbsp;
    </p>

    <p class="app_p">
        We understand that investing can sometimes be daunting, especially for first-time investors. Working with
        clients throughout Australia, we have simplified years of experience into a tested and proven property
        investment strategy. We teach and share this strategy at no cost to our clients.&nbsp;
    </p>

    <p class="app_p">
        We do this primarily through Property Investment Workshops, as well as working one-on-one with
        clients. We partner you with a team of independent professionals, experts, builders and developers&mdash;your
        Property Panel&mdash;to help you invest wisely. Your Property Investment Panel is there to help you along every
        stage of your property investment journey.
    </p>

    <p class="app_p">
        We recognise that not everyone has the time or the confidence to know where to start looking for
        the right solution in a wilderness of property investment information. Recognising the concerns of the every-day
        investor, we focus on undertaking all of the vital research and provide you with the education and support to
        guide you safely, confidently, and successfully towards your goal of creating wealth through property
        investment. At Australian Property Panel (APP), our clients are able to access everything they will need.
    </p>

    <p class="app_p">
        We hand-select opportunities through intensive research, professional experience, value for money,
        and current market conditions in order to aid with the selection of the right property for your portfolio.
        Simple yet clever systems, with the experience of dedicated Panel Members, gives APP the ability to see projects
        through; all the way from pre-contract to settlement, right through the build process to finally finding tenants
        for your property.
    </p>


</ion-content>
